body, html {
    margin: 0 auto;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;  
    color:rgb(58, 19, 19);  
    background-color: rgba(46, 12, 12, 0.9);
    background:url(assets/img/ph1.jpg) no-repeat fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}    

@keyframes opasity {
    /* to {background-color: rgba(190, 136, 166, 0.9); */
        to { background-color: rgba(129, 35, 35, 0.8);}
}

@keyframes extension {
    to {font-size: 200%}
}
  
.header, .footer {
    color: white;
    margin: 0px;
    padding: 0px;
}


::selection {
    background-color: rgba(48, 60, 94, 0.863);
}

::marker {
    color: red;
    font-size: 23px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h5 {
    text-align: center;
}

h1 {
    color: rgba(255, 254, 254, 1);
    font-family: "Audiowide", sans-serif;
    font-size: max(4vw, 20px);
    text-shadow: 5px 5px 5px rgb(58, 19, 19);
}

h2 {
    font-size: max(3.5vw, 20px);
    text-shadow: 1px 1px 3px white;
    font-family: "Brush Script MT", cursive;
    
}

h2::first-letter {
    color: #ff0000;
    font-size: 200%;
    border: 2px solid rgb(58, 19, 19);
    font-family: "Times New Roman", Times, serif;
}

h3 {
    font-size: max(2.5vw, 16px);
    color: #ff0000;
    text-shadow: 1px 1px 3px white;
    font-family: "Brush Script MT", cursive;
    
}

h3::first-letter {
    color: #ff0000;
    font-size: 200%;
    font-family: "Brush Script MT", cursive;  
    text-decoration-line: underline;  
}

h4 {
    font-size: max(2vw, 14px);
    text-shadow: 1px 1px 3px white;
    font-family: "Brush Script MT", cursive;
    
}

p {
    font-size: max(1.2vw, 14px);
    font-weight: bold;
    text-shadow: 1px 1px 3px white;
    word-wrap: break-word;
}

.tootlip {
    visibility: hidden;
    background-color: rgba(190, 136, 166, 0.8);
    font-family: "Brush Script MT", cursive;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    text-align: center;
    font-size: max(1.2vw, 14px);
}

div:hover .tootlip {
    visibility: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

div.point {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    max-height: 650px;
    /* background-color: rgba(190, 136, 166, 0.2); */
    background-color: rgba(129, 35, 35, 0.2);
    color: rgb(58, 19, 19);
    text-shadow: 1px 1px 3px white;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
div.point:hover {
    border: 3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: opasity 2s forwards;
}

#practicing {   
    background-color: rgb(134, 163, 150);
    color:rgb(58, 19, 19);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
} 

table {
    width: 100%;
    max-width: 500px; 
    border-collapse: collapse;
    color: rgb(58, 19, 19);
    font-weight: bold;
    font-size: max(1.2vw, 14px);
}

td {
    padding: 8px;
    text-align: left;
    text-transform: capitalize;
    font-style: italic;
    text-shadow: 1px 1px 3px white;
    border-bottom: 1px solid rgb(58, 19, 19);
}

th {
    padding: 8px;
    text-transform:uppercase;
    text-align: left;
    text-shadow: 1px 1px 3px white;
    border-bottom: 1px solid rgb(58, 19, 19);
}

tr:hover {
    background-color: rgba(77, 57, 67, 0.8);
    cursor: pointer;
}

form {
    background-color: transparent;
    text-align: left;
    width: 50%;
    max-width: 300px;
    font-style: italic;
    font-size: max(1.2vw, 14px);
}

form:hover {
    background-color: rgba(77, 57, 67, 0.8);
    cursor: pointer;
}

.location a:link {
    color: rgb(58, 19, 19);
    background-color: transparent;
    text-decoration: none;
}

.location a:visited {
    color: rgb(58, 19, 19);
    background-color: transparent;
    text-decoration: none;
}

.location  a:hover {
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.location a:active {
    background-color: transparent;
    text-decoration: underline;
    color:rgb(255, 0, 0)
}

.location a:visited {
    background-color: transparent;
    text-decoration: underline;
    color:rgb(255, 0, 0)
}

iframe {
    height:400px;
    width:100%;
    max-width: 300px;
    border: 2px solid rgb(58, 19, 19);
}

ul {
    font-style: italic;
    list-style-type:disc;
}

.topmenu {
    list-style-type: none;
    font-family: Copperplate, Papyrus, fantasy;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow:scroll;    
}

.topmenu li {
    float: right;
    width: auto;
    border: 1px solid transparent;
    text-align: center;
}

.topmenu li:first-child {
    border-right: none;
}

.topmenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: max(1.2vw, 13px);
    text-decoration: none;
    background-color: rgb(129, 35, 35);
}

.topmenu li a:hover {
    background-color: rgb(34, 34, 34);
}

.topmenu li a.active {
    color: white;
    background-color: #4CAF50;
}  

.topmenu li a::first-letter {
    color: rgb(255, 0, 0);
    font-size: 200%;
    border: 1px solid rgb(58, 19, 19);
    font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 700px) {
    .topmenu li {width: max(auto, 150px);}
    .topmenu li a {
      float: none;
      width: 100%;
      margin: 0;
    }
}
@media screen and (max-width: 300px) {
    .topmenu li {display: none;}
    .topmenu li:first-child {
      display: list-item;
      float: none;
      width: 100%;
      margin: 0;
    }
  }

.dropbtn {
    cursor: pointer;
    text-align: center;
  }

.dropdown {
    position: relative;
    display: inline-block;
    margin:auto;
    color: #ff0000;
    font-size: 200%;
    font-family: "Times New Roman", Times, serif;
  }

.dropdown-content {
  display: none;
  text-align: center;

}

.dropdown:hover .dropdown-content {
    display: inline-block;
  }