* {
box-sizing: border-box;
} 

body {
font-family: Inter;
font-style: normal;
padding: 0;
margin: 0;
background:url(card1_1.svg) no-repeat right top;

}
.navbar {
height: 96px;
width: max (100%,1440px);
padding: 0 50px;
margin-bottom: 0px;
background-color: white;

display: flex;
flex-flow: row;
flex-wrap: wrap;
align-items: center;

box-shadow: 0px 4px 8px 0px #26323814;
box-shadow: 0px 2px 4px 0px #26323829;
border-radius: 20 20 0 0;
}

.menu {
flex: 1 1 623px;
height: 67px;

display: flex;
flex-flow: row;
flex-wrap: nowrap;
align-items: center;
white-space: nowrap;

}

.menu > div {
font-weight: normal;
font-size: 18px;
line-height: 32px;
display: flex;
align-items: center;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #6C5CE7;
margin:20px;

}

.menu div:after {
content: ' \2022';
margin:18%;
font-weight: bold;
color: #FDCB6E;
}

.menu div:last-child::after{
content: none;
}

button.active {
font-weight: bold;
font-size: 18px;
line-height: 32px;
text-align: center;
letter-spacing: 0.2px;
padding: 0 20px;
background-color: #6C5CE7;
color: white;
border-radius: 16px;
box-shadow: 0px 4px 8px 0px #26323814;
box-shadow: 0px 2px 4px 0px #26323829;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#how_it_works {
font-weight: bold;
color: #2D3436;
}

#sign_in {
flex: 1 1 170px;
} 


#grid {
flex: 1 1 200px;
font-weight: bold;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: flex-end;
letter-spacing: -1px;
color: #2D3436;
}

.card1 {
margin: 0;
padding: 0;
width: max (100%,1440px);
height: 666px;
background: url(card1_2.svg) no-repeat right top;
background-origin:content-box;
}

.card1 h1 {
font-weight: 800;
font-size: 96px;
line-height: 104px;
text-align: center;
letter-spacing: -3px;
word-wrap:normal;
color: #2D3436;
text-shadow: 0px 4px 0px #FFFFFF;
clear:right;
}

.card1 h2 {
font-weight: 900;
font-size: 64px;
line-height: 77px;
text-align: center;
letter-spacing: -1px;
color: #2D3436;
clear:right;
}



