* {
  color:rgb(58, 19, 19);
}

::selection {
  background-color: royalblue;
}

::marker {
  color: red;
  font-size: 23px;
  font-weight: bold;

}
body, html {
  height: 100%;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}


h1, h2, h3, h4, h5, h5 {
  text-align: center;
}

h1 {
  color: rgb(255, 254, 254);
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 3em;
  text-shadow: 2px 2px 5px red;
}

/*
h1:hover {
  color:rgb(58, 19, 19);
  border: 2px solid rgb(58, 19, 19);
  margin-right: 200px;
  margin-left: 200px;
  background-color: rgba(190, 136, 166, 0.8);
  padding: 20px;
}
*/

h2 {
  font-size: 2em;
  text-shadow: 1px 1px 3px white;
  font-family: "Brush Script MT", cursive;
  
}

h2::first-letter {
  color: #ff0000;
  font-size: 200%;
  border: 2px solid rgb(58, 19, 19);
  font-family: "Times New Roman", Times, serif;
}

p {
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 3px white;
  word-wrap: break-word;
}

.tootlip {
  display: none;
  background-color: rgba(190, 136, 166, 0.8);
  font-family: "Brush Script MT", cursive;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  text-align: center;
}

div:hover .tootlip {
  display: block;
}

div:hover {
  background-color: rgba(190, 136, 166, 0.5);
}

.point {
  background-color: transparent;
  color: rgb(58, 19, 19);
  border: 2px solid black;
  margin: 50px;
  padding: 20px;
  text-shadow: 1px 1px 3px white;
}

.all {
  margin: 0;
  padding: 10px;
  background: lightgray url(assets/img/ph1.jpg) no-repeat fixed;
  background-position: center;
  background-size: cover;

}

#practicing {
  background-color: rgb(134, 163, 150);
  color:rgb(58, 19, 19);
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
} 


table {
  border-collapse: collapse;
  width: 100%;
  color: rgb(58, 19, 19);
  font-weight: bold;
}

td {
  padding: 8px;
  text-align: center;
  text-shadow: 1px 1px 3px white;
  border-bottom: 1px solid rgb(58, 19, 19);
}

th {
  padding: 8px;
  font-size: 120%;
  text-align: center;
  text-shadow: 1px 1px 3px white;
  border-bottom: 1px solid rgb(58, 19, 19);
}

tr:hover {background-color: rgba(190, 136, 166, 0.8);}

form {
  background-color: transparent;
  text-align: left;
  width: 50%;
  font-style: italic;
  font-size: 0.9em;
}

form:hover {
  background-color: rgba(190, 136, 166, 0.8);
}
a:link {
  color: rgb(58, 19, 19);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(58, 19, 19);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #146161;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

iframe {
  height:400px;
  width:100%;
  max-width: 300px;
  
}

ul {
  font-size: 0.8em;
}
