@font-face {
font-family: Inter-regular;
src: url(../fonts/Inter-Regular.woff);
}

@font-face {
font-family: Inter-bold;
src: url(../fonts/Inter-Bold.woff);
} 

@font-face {
font-family: Inter-extrabold;
src: url(../fonts/Inter-ExtraBold.woff);
}  

* {
box-sizing: border-box;
} 

body {
padding: 0;
margin: 0;
background:url(../img/card1_1.svg) no-repeat right top;
}

button.active_extra_rounded {
font-family: Inter-bold;
text-align: center;
background-color: #6C5CE7;
padding: 15px 20px;
color: white;
border-radius: 40px;
box-shadow: 0px 4px 8px 0px #26323814;
box-shadow: 0px 2px 4px 0px #26323829;
}

button.passive{
font-family: Inter-bold;
text-align: center;
border: 1px solid #ADADAD;
border-radius: 18px;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.3px;
color: #6C5CE7;
background-color: white;
box-shadow: 0px 4px 8px 0px #26323814;
box-shadow: 0px 2px 4px 0px #26323829;
}

button#learn_more_passive {
position: absolute;
bottom: 0px;
left: 0px;
margin: 10px;
padding: 10px;;
width: 146px;
}

button#learn_more {
margin: 10px;
width: 270px;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.5px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button#sign_in {
width: 170px;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.25px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}  

button#try_for_free {
position: absolute;
bottom: 30px;
left: 0px;
margin: 10px;
padding: 10px;
width: 306px;
}

button#extended_license {
position: absolute;
bottom: 30px;
left: 75px;
margin: 10px;
padding: 10px;
width: 306px;

}


button#regular_license {
position: absolute;
bottom: 30px;
left: 30px;
margin: 10px;
padding: 10px;
width: 306px;
background-color: #6C5CE7;
color: white;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button#best {
position: absolute;
top:50px;
right:75px;
width: 90px;
font-size: 12px;
line-height: 15px;
font-family: Inter-bold;
text-align: center;
letter-spacing: 2.5px;
text-transform: uppercase;
border: 1px solid #6C5CE7;
color:#2D3436;
border-radius: 30px;
background-color: white;
padding: 5px 10px;
}

.navbar {
height: 96px;
width: max (100%,1440px);
padding: 0 100px;
margin-bottom: 0px;
background-color: white;
display: flex;
flex-flow: row;
flex-wrap: wrap;
align-items: center;
box-shadow: 0px 4px 8px 0px #26323814;
box-shadow: 0px 2px 4px 0px #26323829;
border-radius: 20 20 0 0;
}

.menu {
flex: 1 1 623px;
height: 67px;
display: flex;
flex-flow: row;
flex-wrap: nowrap;
align-items: center;
white-space: nowrap;
}

.menu > div {
font-family: Inter-regular;
display: flex;
align-items: center;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #6C5CE7;
margin:20px;
}

.menu div:after {
content: ' \2022';
margin:18%;
font-family: Inter-extrabold;
color: #FDCB6E;
}

.menu div:last-child::after{
content: none;
}

#how_it_works {
font-weight: bold;
color: #2D3436;
}

#grid {
flex: 1 1 200px;
font-family: Inter-bold;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: flex-end;
letter-spacing: -1px;
color: #2D3436;
}

.card1 {
margin: 0;
width: min (100%,1440px);
height: auto;
background: url(../img/card1_2.svg) no-repeat right top;
background-origin:content-box;
}

.card1 header {
font-family: Inter-extrabold;
width: min (100%,1440px);
padding: 0 50px;
}

.card1 h1 {
margin:0.8em 0 0.1em 0;
font-weight: 800;
font-size: 96px;
line-height: 104px;
text-align: center;
letter-spacing: -3px;
word-wrap:normal;
color: #2D3436;
text-shadow: 0px 4px 0px #FFFFFF;
}

.card1 h2 {
margin: 0 0 0.8em 0;
font-weight: 900;
font-size: 64px;
line-height: 77px;
text-align: center;
letter-spacing: -1px;
color: #2D3436;
}

.card1_content {
font-family: Inter-regular;
font-size: 18px;
line-height: 32px;
color: #2D3436;
width: min (100%,1440px);
margin-left: 75px;
padding: 0 50px;
display: flex;
flex-wrap: nowrap;
align-items: flex-start;
flex-direction: row;
}

.card1_content img {
padding: 10px;
align-self: flex-start;
}

.small_column {
flex: 25%;
max-width: 270px;
/* width: max(25%, 270px); */
margin: 0px 50px 0px 0px;
align-items: center;
}

.small_column p {
margin: 10px;
text-align: justify;
text-justify: inter-word;
}

.big_column {
flex: 75%;
max-width: 1170px;
/* width: max(75%, 1170px); */
display: flex;
flex-direction: row;
margin: 10px;
flex-wrap: wrap;
align-items: top;
text-align: left;
}

.card2 {
margin: 0;
width: min (100%,1440px);
height: auto;
}

.card2 header {
width: min (100%,1440px);
margin: 0 75px;
padding: 0 50px;
font-weight: normal;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.25px;
color: #2D3436;
}

.card2 h4 {
font-family: Inter-bold;
font-weight: bold;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.5px;
margin: 2em 0 0 0;
color: #2D3436;
}

.card2 h6 {
margin: 0.8em 0 0.8em 0;
font-family: Inter-regular;
font-weight: normal;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
letter-spacing: -0.25px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card2 h5 {
font-family: Inter-bold;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.25px;
margin: 1em 0 0 0;
color: #2D3436;
}

.card2_content {
font-family: Inter-regular;
font-size: 18px;
line-height: 32px;
color: #2D3436;
width: min (100%,1440px);
margin: 0 75px;
padding: 0 50px;
display: flex;
flex-wrap: nowrap;
align-items: flex-start;
flex-direction: row;
}

.card2_content > div {
position: relative;
height: 380px;
flex: 25%;
padding: 10px;
display: flex;
flex-direction: column;
}

div.card2_content img {
border-radius: 50%;
}

.card3 {
margin: 0;
width: min (100%,1440px);
height: auto;
}

.card3 header {
width: min (100%,1440px);
margin: 75px;
}    

.card3 h2 {
font-family: Inter-extrabold;
margin: 2em 0 0.2em 0;
font-size: 64px;
line-height: 77px;
letter-spacing: -1px;
color: #2D3436;
text-align: center;
}

.card3 h4 {
font-family: Inter-bold;
margin: 0.8em 0;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.5px;
color: #ADADAD;
text-align: center;
}

.card3_content {
background:url(../img/bg_card3.svg) no-repeat 37% bottom;
background-origin: border-box;
width: min (100%,1440px);
margin: 0 75px;
padding: 0 50px 20px 50px;
display: flex;
flex-wrap: nowrap;
align-items: flex-start;
flex-direction: row;
}

.card3_content > div {
flex: 33.33%;
display: flex;
flex-direction: column;
height: 550px;
position: relative;
padding-bottom: 30px;
margin-bottom: 20px;

}

.special {
font-family: Inter-bold;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.2px;
color: #6C5CE7;
}

.card3_content h3 {
margin: 0.2em 0;
text-align: left;
font-family: Inter-bold;
font-size: 48px;
line-height: 56px;
letter-spacing: -1px;
color: #2D3436;
}

.card3_content sub {
vertical-align: sub;
font-family: Inter-bold;
font-size: 12px;
line-height: 15px;
letter-spacing: 2.5px;
text-transform: uppercase;
}

.card3_content ul li {
font-family: Inter-regular;
font-size: 18px;
line-height: 32px;
color: #2D3436;
height: 50px; 
position: relative;
}

ul li span {
position: absolute;
top: 0px;
left: 15px;
}

div.grey {  
padding: 30px 50px 30px 0px;
list-style-image: url(../img/grey_marker.svg);
}

div.yellow {
background-color: white;
padding: 30px;
list-style-image: url(../img/yellow_marker.svg);
border-radius: 20px;
box-shadow:0px 8px 4px 0px rgba(0, 0, 0, 0.3);
}

div.blue {
padding: 30px 0 30px 75px;
list-style-image: url(../img/blue_marker.svg);
}

footer {
    background: url(../img/footer.svg) no-repeat bottom;

width: min (100%,1440px);
height: auto;
padding: 50px;
display: flex;
align-items: flex-start;
flex-direction: row;
}

.footer_column {
flex: 50%;
margin: 50px 50px 75px 75px;
align-items: center;
}

.footer_icons {
display: flex;
width: 60%;
height: 90px;
align-items: flex-start;
justify-content: space-between;
flex-direction: row;

}

#follow_us_information {
margin: 12px 0;
font-family: Inter-bold;
font-size: 12px;
line-height: 15px;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #ADADAD;
}

#email {
margin: 12px 0;
font-family: Inter-extrabold; 
height: 90px;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.5px;
color: #6C5CE7;
}

.information {
display: flex;
flex-direction: row;
}

.information div {
flex: 33.33%;
font-family: Inter-regular;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.25px;
color: #2D3436;
}

.forms1 {
padding: 6px 0;
margin: 0;
display: flex;
flex-direction: row; 
justify-content: space-between;
align-items:baseline;
}

.first_part input {
flex: 50%;
width: 270px;
padding: 5px 10px;
font-family: Inter-regular;
font-size: 18px;
line-height: 32px;
color: #050505;
}

#form_name input{
background: rgba(241, 241, 241) url(../img/form_icon_1.svg) no-repeat right;
border: 2px solid transparent;
border-radius: 16px;
}

#email input{
background: rgba(241, 241, 241) url(../img/form_icon_2.svg) no-repeat right;
border: 2px solid transparent;
border-radius: 16px;
}

.forms2 {
display: flex;
flex-direction: row; 
justify-content: space-between;
margin: 0px;
}

.second_part textarea {
margin-right: 30px;
flex: 70%;
width: 370px;
height: 80px;
padding: 5px 10px 5px 10px;
font-family: Inter-bold;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.2px;
color: #6C5CE7;
background: rgba(241, 241, 241) url(../img/form_icon_3.svg) no-repeat right top;
border: 2px solid rgba(108, 92, 231, 0.24);  
border-radius: 16px;
}

.third_part button {
width: 170px;
height: 80px;
text-transform: uppercase;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.25px;
background: #6C5CE7;
border: 2px solid transparent;
border-radius: 16px;
text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
}
