@keyframes opasity {
    /* to {background-color: rgba(190, 136, 166, 0.9); */
        to { background-color: var(--bg_point_hover);
        }
}

@keyframes extension {
    to {font-size: 200%}
}

table {
    width: 100%;
    max-width: 500px; 
    border-collapse: collapse;
    color: rgb(58, 19, 19);
    font-weight: bold;
    font-size: max(1.2vw, 14px);
}

td {
    padding: 8px;
    text-align: left;
    text-transform: capitalize;
    font-style: italic;
    text-shadow: 1px 1px 3px white;
    border-bottom: 1px solid rgb(58, 19, 19);
}

th {
    padding: 8px;
    text-transform:uppercase;
    text-align: left;
    text-shadow: 1px 1px 3px white;
    border-bottom: 1px solid rgb(58, 19, 19);
}

tr:hover {
    background-color: rgba(77, 57, 67, 0.8);
    cursor: pointer;
}

form {
    background-color: transparent;
    text-align: left;
    width: 50%;
    max-width: 300px;
    font-style: italic;
    font-size: max(1.2vw, 14px);
}

form:hover {
    background-color: rgba(77, 57, 67, 0.8);
    cursor: pointer;
}

.location a:link {
    color: rgb(58, 19, 19);
    background-color: transparent;
    text-decoration: none;
}

.location a:visited {
    color: rgb(58, 19, 19);
    background-color: transparent;
    text-decoration: none;
}

.location  a:hover {
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.location a:active {
    background-color: transparent;
    text-decoration: underline;
    color:rgb(255, 0, 0)
}

.location a:visited {
    background-color: transparent;
    text-decoration: underline;
    color:rgb(255, 0, 0)
}

iframe {
    height:400px;
    width:100%;
    max-width: 300px;
    border: 2px solid rgb(58, 19, 19);
}

ul {
    font-style: italic;
    list-style-type:disc;
}

.topmenu {
    list-style-type: none;
    font-family: Copperplate, Papyrus, fantasy;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow:scroll;    
}

.topmenu li {
    float: right;
    width: auto;
    border: 1px solid transparent;
    text-align: center;
}

.topmenu li:first-child {
    border-right: none;
}

.topmenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: max(1.2vw, 13px);
    text-decoration: none;
    background-color: rgb(129, 35, 35);
}

.topmenu li a:hover {
    background-color: rgb(34, 34, 34);
}

.topmenu li a.active {
    color: white;
    background-color: #4CAF50;
}  

.topmenu li a::first-letter {
    color: rgb(255, 0, 0);
    font-size: 200%;
    border: 1px solid rgb(58, 19, 19);
    font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 700px) {
    .topmenu li {width: max(auto, 150px);}
    .topmenu li a {
      float: none;
      width: 100%;
      margin: 0;
    }
}
@media screen and (max-width: 300px) {
    .topmenu li {display: none;}
    .topmenu li:first-child {
      display: list-item;
      float: none;
      width: 100%;
      margin: 0;
    }
  }

